{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

 {% if registered %}
    <h1>Thank you for registering</h1>
  {% else %}
      <h3>Fill the form: </h3>
      <div class="container col-md-3" >
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.username.label}}
        {{ user_form.username}}<br>
         {{ user_form.first_name.label}}
        {{ user_form.first_name}}<br>
        
         {{ user_form.last_name.label}}
         {{ user_form.last_name}}<br>
         {{ user_form.email.label}}
        {{ user_form.email}}<br>
         {{ user_form.password1.label}}
         {{ user_form.password1}}<br>
         {{ user_form.password2.label}}
         {{ user_form.password2}}<br>
         
        {{ profile_form.as_p }}


        
        <div class="row justify-content-center">
        <div class="col-md-6">
        <input type="submit" value="Register" class="btn btn-primary btn-block">
        </div>
        </div>
      </form></div>
  {% endif %}

{% endblock  %}

</html>