{% extends 'base.html' %}

{% block body %}
<!-- Style Start -->
<style>
   h2,
   h1 {
        margin-top: 3%;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: #0A043C;
   }
</style>
<!-- Style End -->

<div class="container">

<p>{{request.user.all_users.class_list}}</p>

{% for standard in  standards %}
      {% if standard.name == user.all_users.class_list %}
   <a> {{standard.name}}</a><br><br><br>
{% endif %}
{% endfor %}

</div>

{% endblock %}








